*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #44babc;
    padding: 20px;

}

.btn-equipamento{
    display: flex;
    background: none;  
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    color: #00fbff
}

.voltar{
    display: flex;
    font-size: 2rem;
    color: #00fbff;
}

header img{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 300px;
}

main{
    width: 97vw;
    height: auto;
    min-height: 100vh;

    background-color: #ffffff;
    display: flex;
    gap: 30px;
    flex-direction: column;

    margin-top: 15px;
}

main > div div:not(:nth-child(2)) p{
    max-width: 500px;
    word-wrap: break-word;
    text-align: justify;
    padding: 1rem;

    border-top: 2px solid var(--WhiteMilk);
    border-bottom: 2px solid var(--WhiteMilk);
    border-left: 4px solid var(--WhiteMilk);
}

main > div div:nth-child(2) p{
    max-width: 500px;
    word-wrap: break-word;
    text-align: justify;
    padding: 1rem;
}

main > div div:nth-child(2) img{
    max-width: 500px;
    word-wrap: break-word;
    text-align: justify;
    padding: 1rem;
}

.div-info-equip {
    display: flex;
    gap: 1rem;
}

.imgg{
    width: 200px;
    height: 150px;
    left: 30px;
    border:1.3px solid black;
}

.btn-comment{
    display: flex;
    background: none;  
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

.del{
    display: flex;
    background: none;  
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

.all{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.all-btn{
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 30px;
}

