* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
    font-size: 20px;
    transition: color 0.3s;
}

.toggle-password:hover {
    color: #0056b3;
}

#colaboradores {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

#colaboradores div {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

#colaboradores p {
    margin: 0;
    font-size: 16px;
}

#colaboradores button {
    background-color: #dc3545;
    margin-right: 5px;
}

#colaboradores button:hover {
    background-color: #c82333;
}
